<template name="appBody">
  <div class="wrapper-welcome">
    <div class="title-welcome">Paaza</div>
    
    
    <div class="description-welcome">
    Paaza is a mobile app that enhances how your school communicates with parents while lowering communication costs and simplifying communications management.
    </div>

<br/>
   


       <a href="{{pathFor 'home'}}" class="{{activePage 'home'}}">
        <span class="wrapper-menu-item">
          <span class="icon-rss"></span>
          <span class="title-menu">Get the app</span>
        </span>
      </a>
<br/>
<br/>

{{#if currentUser}}
        
        <a class="js-logout">
        <span class="wrapper-menu-item">
          <span class="icon-category"></span>
          <span class="title-menu">Sign out</span>
        </span>
      </a>

{{#if currentUser.admin}}
<br/>
<br/>
  <a href="{{pathFor 'admin'}}" class="{{activePage 'admin'}}">
        <span class="wrapper-menu-item">
          <span class="icon-category"></span>
          <span class="title-menu">Admin</span>
        </span>
      </a>
   {{/if}}
            
        {{else}}
      <a href="{{pathFor 'settings'}}" class="{{activePage 'settings'}}">
        <span class="wrapper-menu-item">
          <span class="icon-category"></span>
          <span class="title-menu">Sign In</span>
        </span>
      </a>
        {{/if}}


 



  </div>

  <div id="container" class="{{menuOpen}} {{overlayOpen}}">
    <section id="menu" class="overthrow">
      <a href="{{pathFor 'home'}}" class="{{activePage 'home'}}">
        <span class="wrapper-menu-item">
          <span class="icon-home"></span>
          <span class="title-menu">Home</span>
        </span>
      </a>
        <a href="{{pathFor 'studentsReport'}}" class="{{activePage 'studentsReport'}}">
        <span class="wrapper-menu-item">
          <span class="icon-rss"></span>
          <span class="title-menu">Student <br/> Reports</span>
        </span>
      </a>
      <a href="{{pathFor 'fees'}}" class="{{activePage 'fees'}}">
        <span class="wrapper-menu-item">
          <span class="icon-rss"></span>
          <span class="title-menu">Fees</span>
        </span>
      </a>

        <a href="{{pathFor 'forums'}}" class="{{activePage 'forums'}}">
        <span class="wrapper-menu-item">
          <span class="icon-rss"></span>
          <span class="title-menu">Forums</span>
        </span>
      </a>


      <!--    <a href="{{pathFor 'forums'}}" class="{{activePage 'forums'}}">
        <span class="wrapper-menu-item">
          <span class="icon-rss"></span>
          <span class="title-menu">Resources</span>
        </span>
      </a>-->

   <a href="{{pathFor 'newsFeed'}}" class="{{activePage 'bookmarks'}}">
        <span class="wrapper-menu-item">
          <span class="icon-bookmark-hollow"></span>
          <span class="title-menu">News</span>
        </span>
      </a>

    


   
         <a href="{{pathFor 'settings'}}" class="{{activePage 'settings'}}">
        <span class="wrapper-menu-item">
          <span class="icon-question"></span>
          <span class="title-menu">Settings</span>
        </span>
      </a>
   

{{#if currentUser}}

{{#if currentUser.admin}}
 
   <!--<a href="{{pathFor 'feed'}}" class="{{activePage 'feed'}}">
        <span class="wrapper-menu-item">
          <span class="icon-rss"></span>
          <span class="title-menu">What's <br/> Cooking</span>
        </span>
      </a>

      <a href="{{pathFor 'recipes'}}" class="{{activePage 'recipes' 'recipe'}}">
        <span class="wrapper-menu-item">
          <span class="icon-category"></span>
          <span class="title-menu">Recipe</span>
        </span>
      </a>
         <a href="{{pathFor 'bookmarks'}}" class="{{activePage 'bookmarks'}}">
        <span class="wrapper-menu-item">
          <span class="icon-bookmark-hollow"></span>
          <span class="title-menu">Bookmarks</span>
        </span>
      </a>

   <a href="{{pathFor 'about'}}" class="{{activePage 'about'}}">
        <span class="wrapper-menu-item">
          <span class="icon-question"></span>
          <span class="title-menu">About</span>
        </span>
      </a>-->

       <a href="{{pathFor 'admin'}}" class="{{activePage 'admin'}}">
        <span class="wrapper-menu-item">
          <span class="icon-question"></span>
          <span class="title-menu">Admin</span>
        </span>
      </a>
   {{/if}}



        
          <a class="js-logout">
        <span class="wrapper-menu-item">
          <span class="icon-question"></span>
          <span class="title-menu">SignOut</span>
        </span>
      </a>
            
        {{else}}
      <a href="{{pathFor 'settings'}}" class="{{activePage 'settings'}}">
        <span class="wrapper-menu-item">
          <span class="icon-question"></span>
          <span class="title-menu">SignIn</span>
        </span>
      </a>
        {{/if}}




    </section>

      <div class="notifications">
        {{#unless connected}}
          <div class="notification">
            <span class="icon-sync"></span>
            <div class="title-notification">Trying to connect</div>
          </div>
        {{/unless}}
        {{#each notifications}}
          <div class="notification">
            <a class="btn-primary js-notification-action">{{action}}</a>
            <div class="title-notification">{{title}}</div>
          </div>
        {{/each}}
      </div>

    {{> overlay}}

    <div class="content-overlay"></div>

    <div id="content-container">
      {{> yield}}
    </div>

  </div>
</template>