<template name="schools">
   <div class="content-scrollable">
  <div class="form_template">
    <a href="/" class="back-desktop"><span class="icon-arrow-left-alt"></span> Back</a>
     

    <div class="wrapper-admin">


      {{#if isSuperAdmin}}
        <h1 class="title-admin">Manage Schools</h1>

 {{> schoolsForm this}}  

<br/>

<h1 class="title-admin">Schools</h1>

      
     
            <table style="width:100%">
                <thead>
                    <tr>                    
                        <th>Name</th>
<th>PhoneNumber</th>                  
                        <th>Created by</th>                    
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each schools}}
                    <tr>
                        <td>{{Name}}</td>
<td>{{PhoneNumber}}</td>
                        <td>{{createdUser.profile.name}}</td>
                        <td>
                            <a href="{{pathFor 'schools' _id=this._id}}">Edit</a>
                            <button class="delete">Delete &times;</button>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        




          {{#each schools}}
          {{else}}
            <div class="wrapper-message">
              <div class="title-message">No school has been created yet!</div>
              <div class="subtitle-message">Create a new school</div>
            </div>
          {{/each}}
      
     




      {{else}}
        <h1 class="title-admin">Forbidden</h1>
        
        {{#unless currentUser}}
          <a class="login">Log in with Twitter</a>
        {{/unless}}
      {{/if}}
    </div>
  </div>
    </div>
</template>