<template name="studentsView">
    <div class="page admin">
   <div class="content-scrollable">

 <a href="/students" class="back-desktop"><span class="icon-arrow-left-alt"></span> Back</a>

 <div class="wrapper-admin">

 <div class="title-page">Students Details</div>

     <form>
      <label>Id</label>
        <label>{{_id}}</label>
        <br/>
        <label>First Name:</label>
          <label>{{FirstName}}</label>
          <br/>
            <label>Last Name:</label>
          <label>{{LastName}}</label>
          <br/>
           <label>Phone Number:</label>
          <label>{{PhoneNumber}}</label>
          <br/>

          <label>Email Address:</label>
         <label>{{EmailAddress}}</label>
         <br/>

  <label>HomeAddress:</label>
          <label>{{HomeAddress}}</label>
          <br/>
  
  <label>School Id:</label>
          <label>{{SchoolId}}</label>
          <br/>

  <label>Student Id:</label>
          <label>{{StudentId}}</label>
          <br/>


            <label>Created By:</label>
         <label>{{CreatedBy}}</label>
         <br/>
            <label>Created Date:</label>
         <label>{{CreatedDate}}</label>
         <br/>
            <label>Updated By:</label>
         <label>{{UpdatedBy}}</label>
         <br/>
            <label>Updated Date:</label>
         <label>{{UpdatedDate}}</label>
         <br/>
<label>Image:</label>
         
       <div class="bg-image" style="background-image: url('{{image}}');"></div>
          
        </form>


    </div>
  </div>
    </div>
</template>