<template name="schools">
    <div class="page admin">
   <div class="content-scrollable">

 <a href="/admin" class="back-desktop"><span class="icon-arrow-left-alt"></span> Back</a>

 <div class="wrapper-admin">

 <div class="title-page">Schools</div>

      {{#if isSuperAdmin}}
        

   <!--{{> schoolsForm this}} -->

 <br/>
<br/>
<a href="{{pathFor 'schoolsInsert'}}">create new school</a>
  
<br/>
<br/>
  <div class="list-activities {{#unless ready}}loading{{/unless}}">
        {{#if ready}}
          {{#if schools.count}}

<table style="width:100%; padding: 10px; border-spacing: 5px; text-align: left;">
                <thead >
                    <tr >                    
                        <th style="font-weight: bold;"> Name</th>
<th style="font-weight: bold;">PhoneNumber</th>  
<th  style="font-weight: bold;">Address</th>                     
                        <th style="font-weight: bold;">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each schools}}
                    <tr>
                        <td>{{Name}}</td>
<td>{{PhoneNumber}}</td>
<td>{{Address}}</td>
                        <td>
                            <a href="{{pathFor 'schoolsUpdate' _id=this._id}}">Edit &nbsp; &nbsp;</a>
                            <a class="delete">Delete &nbsp; &nbsp;</a>
                            <a href="{{pathFor 'schoolsView' _id=this._id}}">View</a>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
          {{else}}
            <div class="wrapper-message">
              <div class="title-message">No item exists yet!</div>
              <div class="subtitle-message">Be the first to create one</div>
            </div>
          {{/if}}
        {{else}}
          <div class="wrapper-message">
            <div class="icon-sync"></div>
            <div class="title-message">Loading</div>
          </div>
        {{/if}}
      </div>



      {{else}}
        <h1 class="title-admin">Forbidden</h1>
        
        {{#unless currentUser}}
          <a class="login">Log in with Twitter</a>
        {{/unless}}
      {{/if}}
    </div>
  </div>
    </div>
</template>